extends layout
include fonksiyonlar/yildiz
block content 
    #banner.page-header 
        .row
            .col-lg-6
                h1 
                    | #{sayfaBaslik.siteAd}
                    small &nbsp; #{sayfaBaslik.slogan}
    .row
    .error=mesaj
        each mekan in mekanlar
            .row.list-group
            .col-xs-12.col-sm-12
                .col-xs-12.list-group-item 
                    h4 
                        -var mekanid=mekan._id
                        a(href='/mekan/'+mekanid)=mekan.ad
                        small &nbsp;
                        +puanOlustur(mekan.puan)
                    span.badge.pull-right.badge-default= mekan.mesafe
                    p.address= mekan.adres
                    p
                        each imkan in mekan.imkanlar
                            span.label.label-warning= imkan
                            | &nbsp;