extends layout
include fonksiyonlar/yildiz
include fonksiyonlar/tarihformat
block content
  .row.page-header 
    .col-lg-12 
      h1= mekanBaslik
  .row 
    .col-xs-12.col-md-12 
      .row 
        .col-xs-12.col-sm-6 
          p.rating
            +puanOlustur(mekanDetay.puan)
          p= mekanDetay.adres
          .panel.panel-primary 
            .panel-heading 
              h2.panel-title Açılış Saatleri
            .panel-body
              each saat in mekanDetay.saatler
                p 
                  | #{saat.gunler}:&nbsp;
                  if (saat.kapali)
                    | Kapalı
                  else
                    | #{saat.acilis}-#{saat.kapanis}
          .panel.panel-primary 
            .panel-heading 
              h2.panel-title Neler Var?
            .panel-body
              each imkan in mekanDetay.imkanlar 
                span.label.label-warning= imkan
                | &nbsp;
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading 
              h2.panel-title Konum Bilgisi
            .panel-body 
              -var enlem=mekanDetay.koordinat.enlem
              -var boylam=mekanDetay.koordinat.boylam
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
  .row 
    .col-xs-12 
      .panel.panel-primary 
        .panel-heading
          -var mekanid=mekanDetay._id
          a.btn.btn-default.pull-right(href='/mekan/'+mekanid+'/yorum/yeni') Yorum Ekle
          h2.panel-title Müşteri Yorumları
        .panel-body.review-container
          each yorum in mekanDetay.yorumlar
            .row 
              .review 
                .well.well-sm.review-header 
                  span.rating
                    +puanOlustur(yorum.puan)
                  span.review-author= yorum.yorumYapan 
                  small.reviewTimestamp &nbsp; 
                  +tarihFormatla(yorum.tarih)
                .col-xs-12 
                  p= yorum.yorumMetni